.root {
    -fx-background-color: #5a0f1c;
    -fx-padding: 20;
}

.text-field {
    -fx-background-color: #fffaf3;
    -fx-text-fill: #5a0f1c;
}

.button {
    -fx-background-color: #f5e6d3;
    -fx-text-fill: #5a0f1c;
    -fx-font-weight: bold;
}

.text-area {
    -fx-control-inner-background: #fffaf3;
    -fx-text-fill: #5a0f1c;
}
